<h1>Carrito de Compras</h1>

{{#each productos}}
	<div class="container-fluid">
		<div class="d-flex justify-content-center">
			<div class="card col-6">
				<p>Producto: {{this.product.title}}</p>
				<p>Cantidad: {{this.quantity}}</p>
			</div>
		</div>
	</div>
{{/each}}